body {
    font-family: Arial, sans-serif;
	background-color: #E0FFFF;
	margin:0;
	padding: 0;
}

/*Navigation Bar*/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	background-color: #00CED1;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
}

.logo img {
    max-width: 80px;
    margin-right: 20px;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
	align-items: center;
}    

.nav a {
    font-weight: 500;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    padding: 1em;
}

.nav a:hover {
    background: #FAEBD7;
    color: #2F4F4F;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
	}

	.logo {
		margin-bottom: 10px;
    }

	.nav {
		justify-content: center;
    }

   .nav li {
        padding: 10px;
    }
}

/*The Contact Form itelf*/

h2 {
	text-align: center;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],

textarea {
	width: 80%;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	resize: vertical;
}

button {
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

#response {
	margin-top: 20px;
}

/*Contact Button to be able to popup*/
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    overflow: auto;
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Moving Banner*/
#container {
    width: 100%;
    overflow: hidden;
    margin: 5px auto;
    background: white;
}

.photobanner {
    height: 533px;
    width: auto; /* Change to auto */
    margin: 20px;
    display: flex; /* Make it a flex container */
    animation: bannermove 25s linear infinite;
}

.photobanner img {
    margin-right: 10px; /* Add some spacing between images */
}

.photobanner img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@keyframes bannermove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 10px)); /* Adjust for spacing */
    }
}

/*Video and Text, Picture and Text*/
/*Container to align Video/Picture and Text left and right/adjacent */
.container1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
		
.container1b {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.container2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
	background: url(images/1.jpg);
	background-size: 100%;
}
		
.video {
    flex: 0 0 55%; /* Take up 50% of the container width */
    margin: 10px;
    border: 5px solid black;
}	

	video {
  width: 100%;
  display: block;
}
		
.picture {
	flex: 0 0 50%; /* Take up 50% of the container width */
	margin: 20px;
	border: 5px solid black;
}

.picture img{
	max-height:450px;
	width: 100%
}

.content {
    flex: 0 0 40%; /* Take up 45% of the container width */
    border: 5px solid green;
}

.content h2 {
    font-size: 24px;
	margin-bottom: 10px;
}

.content p {
    font-size: 16px;
}
		
.content h1 {
	font-size: 36px;
	text-align: center;
}

 /* Responsive Masonry Layout Photo Gallery inspired by Web Dev Tutorials - https://www.youtube.com/watch?v=3TN9J3pCn6k&ab_channel=WebDevTutorials 
Code was not copy and pasted */
.container3 {
     max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
}

.photo-galleryy {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo {
    flex: 1;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

 /* Footer*/
.footer {
    background-color: #008B8B;
    color: #fff;
     padding: 10px;		
 }

.social-icons {
    text-align: right;
 }

.social-icon {
    display: inline-block;
    margin-left: 10px;
    width: 50px; /* Adjust according to the width of your icons */
	height: 40px; /* Adjust according to the height of your icons */
}

.social-icon img {
    width: 100%;
     height: 100%;
}

.social-icon:hover img {
    opacity: 2.9; /* Adjust the opacity as desired */
}
	
/* Single Photo acting as a Page Banner*/	
.singlebanner {
	width: 100%;
	overflow: hidden;
	max-height: 600px;
}

#bannerImage {
	width: 100%;
	height: auto;
	display: block;
	transition: transform 0.5s ease;
	margin: 10px;
}

@media (min-width: 768px) {
	#bannerImage {
		max-width: 100%;
	}
}

/*Grid layout Gallery*/ 	
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px;
}

.gallery-item {
	flex: 0 0 calc(32% - 20px);
	margin: 10px;
	box-sizing: border-box;
}

.gallery-item img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 5px;
	padding: 5px;
	max-height: 500px;
}


/*Accomodation Photos, Zoom and Overlay*/
.card-container {
	display: flex;
	justify-content: space-evenly;
	margin: 50px;
	margin-bottom: 80px;
}

.card {
	position: relative;
	width: 500px;
	height: 400px;
	/* overflow: hidden;*/
}

.card img {
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
}

.card .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.5s;
}

.card:hover .overlay {
	opacity: 1;
}

.card:hover img {
	transform: scale(1.3);
}

.overlay h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.overlay p {
	font-size: 16px;
	text-align: center;
}

.read-moreb {
	background-color: transparent;
	color: white;
	border: 2px solid white;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.read-moreb:hover {
	background-color: white;
	color: black;
}

h1 {
	font-size: 36px;
	text-align: center;
}